{
	"singleQuote": true,
	"trailingComma": "none",
	"useTabs": true,
	"tabWidth": 2,
	"semi": false,
	"arrowParens": "avoid",
	"importOrder": [
		"<THIRD_PARTY_MODULES>",
		"/ui/",
		"/hooks/",
		"/components/",
		"^../(.*)",
		"^./(.*)",
		"^[./]",
		"/module.scss/"
	],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true
}
